 <%= render "shared/partial" %>

 <%= render "shared/setting" %>
<h2>プロフィール</h2>
<%= link_to "編集", edit_profile_path %>
<h3>アイコン画像</h3>
<%= @user.name %>
<h3>ユーザー名</h3>
<%= @user.name %>
<h3>自己紹介</h3>
<%= @user.profile %>

