 <%= render "shared/partial" %>

<h1>プロフィール</h1>

<h3>アイコン画像</h3>
<%= @user.name %>
<h3>ユーザー名</h3>
<%= @user.name %>
<h3>自己紹介</h3>
<%= @user.profile %>

<div>
<%= link_to "プロフィールを編集", edit_profile_path %>
</div>