 <%= render "shared/partial" %>
<h3>予約内容の確認</h3>

<%= form_with model: @reservation do |f| %>
  <table>
    <tr>
      <th><%= f.label :checkin ,"チェックイン" %></th>
      <td><%= l @reservation.checkin %></td>
    </tr>

    <tr>
      <th><%= f.label :checkin ,"チェックアウト" %></th>
      <td><%= l @reservation.checkout %></td>
    </tr>

    <tr>
      <th><%= f.label :person ,"人数" %></th>
      <td><%= @reservation.person %>名</td>
    </tr>

    <tr>
      <th><%= f.label :price ,"お支払い金額" %></th>
      <td><%= @sum_of_price %>円</td>
    </tr>
  </table>

  <%= f.hidden_field :checkin ,value: @reservation.checkin %>
  <%= f.hidden_field :checkout ,value: @reservation.checkout %>
  <%= f.hidden_field :person ,value: @reservation.person %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.hidden_field :room_id, value: @reservation.room_id %>

 <% if flash[:notice_no_create] %>
   <p class="notice"><%= flash[:notice_no_create] %></p>
 <% end %>

  <div>
    <ul>
      <li><%= f.submit "予約"%></li>
      <li><%= link_to "キャンセル", :reservations %></li>
    </ul>
  </div>

  <%= render "shared/error", obj: @reservation %> 
<% end %>