 <%= render "shared/partial" %>
<h3>予約内容の確認</h3>

<%= form_with model: @reservation do |f| %>
  <table>
    <tr>
      <th><%= f.label :checkin ,"チェックイン" %></th>
      <td><%= @reservation.checkin %></td>
    </tr>

    <tr>
      <th><%= f.label :checkin ,"チェックアウト" %></th>
      <td><%= @reservation.checkout %></td>
    </tr>

    <tr>
      <th><%= f.label :person ,"人数" %></th>
      <td><%= @reservation.person %></td>
    </tr>

    <tr>
      <th><%= f.label :price ,"お支払い金額" %></th>
      <%# <%= @room.room_price_day * person %>
    </tr>

         <%= f.hidden_field :user_id, value: @user.id %>
         <%= f.hidden_field :room_id, value: @room.id %>
  </table>

 <% if flash[:notice_no_create] %>
   <p class="notice"><%= flash[:notice_no_create] %></p>
 <% end %>

  <div>
    <ul>
      <li><%= f.submit "保存"%></li>
      <li><%= link_to "キャンセル", :reservations %></li>
    </ul>
  </div>

  <%= render "shared/error", obj: @reservation %> 
<% end %>