 <%= render "shared/partial" %>

<h2>Potepan Shareで
まだ体験したことのない
旅をしよう</h2>
<%= form_tag(root_path, method: :get) do %>
  <%= text_field_tag 'search', nil, placeholder: 'エリア名を入力' %>
  <%= submit_tag '検索', name: nil %>
<% end %>

<h2>おすすめのエリア</h2>
<%= link_to("東京", "/search/?search=東京") %>
<%= link_to("大阪", "/search/?search=大阪") %>
<%= link_to("京都", "/search/?search=京都") %>
<%= link_to("札幌", "/search/?search=札幌") %>

</table>

