 <%= render "shared/partial" %>

<h3>予定の編集</h3>

<%= form_with model: @room do |f| %>
<table>
    <tr>
      <th><%= f.label :room_name ,"施設名" %></th>
      <td><%= f.text_field :room_name %></td>
    </tr>

    <tr>
      <th><%= f.label :room_content ,"施設詳細" %></th>
      <td><%= f.text_field :room_content %></td>
    </tr>

    <tr>
      <th><%= f.label :room_price_day ,"料金" %></th>
      <td><%= f.text_field :room_price_day %></td>
    </tr>

    <tr>
      <th><%= f.label :room_address ,"住所" %></th>
      <td><%= f.text_field :room_address %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "編集を完了する"%></li>
      <li><%= link_to "キャンセル", :rooms %></li>
    </ul>
  </div>

 <% if flash[:notice_no_update] %>
   <p class="notice"><%= flash[:notice_no_update] %></p>
 <% end %>

 <%= render "shared/error", obj: @room %> 
<% end %>