<div style="display: flex;justify-content: space-between">
<h3>登録済み一覧</h3>
<p><%= link_to "施設の新規登録", :new_room %></p>
</div>

<div>
<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td>画像</td>
        <td><%= link_to "#{room.room_name}", room %></td>
        <td><%= room.room_content %></td>
        <td><%= room.room_price_day %></td>
        <td><%= l room.updated_at %></td>
        <td><%= link_to "編集", [:edit, room] %></td>
        <td><%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <% if flash[:notice_create] %>
   <p class="notice"><%= flash[:notice_create] %></p>
 <% end %>

 <% if flash[:notice_update] %>
   <p class="notice"><%= flash[:notice_update] %></p>
 <% end %>

 <% if flash[:notice_destroy] %>
   <p class="notice"><%= flash[:notice_destroy] %></p>
 <% end %>

</div>